{% comment %}
  About Us Page Template
{% endcomment %}

<section class="page-header" style="margin-top: 76px;">
  <div class="container">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.content != blank %}
      <div class="page-content">
        {{ page.content }}
      </div>
    {% endif %}
  </div>
</section>

{% section 'about-mission' %}
{% section 'about-values' %}

