{% comment %}
  Contact Us Page Template
{% endcomment %}

<section class="page-header" style="margin-top: 76px;">
  <div class="container">
    <h1 class="page-title">{{ page.title }}</h1>
  </div>
</section>

{% section 'contact-form-section' %}

